.section {
  background-color: black;
  color: #f6f7ff;
}
.company li{
  display: block;
  padding-bottom: .5rem!important;
  padding-top: .5rem!important;
}
.link, p, li {
  color: #f6f7ff;
  text-decoration: none;
}
.link{
  position: relative;
}

.link:hover {
  cursor: pointer;
}
.link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
  transition: .7s ease;
}

.title-list {
  font-size: 18px;
  font-weight: bold;
  color: burlywood;
}
.logo-wrap{
  margin-top: -15px;
}
.email-ico {
  width: 45px;
  margin-right: .3rem;
  padding-top: .3rem;
}
@media screen and (min-width: 360px) and (max-width: 575px) {
  .logo-contact{
    padding-left: 15%!important;
  }
}
